USE [Simplias]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 07/06/2024 4:19:31 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [Category]) VALUES (1, N'Product 1', N'Description for product 1', CAST(10.00 AS Decimal(18, 2)), N'Category 1')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [Category]) VALUES (2, N'Product 2', N'Description for product 2', CAST(20.00 AS Decimal(18, 2)), N'Category 2')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [Category]) VALUES (3, N'Product 3', N'Description for product 3', CAST(30.00 AS Decimal(18, 2)), N'Category 3')
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
